<a href="https://colab.research.google.com/github/SoumyadeepDebnath/DataEngineering_with_Python_by_SAM/blob/main/1.%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Basics

#### 1. Comment

- Single Line Comment - #
- Multiline Comment - """ """

#### 2. Built in method - print()

In [ ]:
print('Hello')

firstName = "Soumyadeep"
print("My name is ",firstName)
print("My name is %s"%(firstName))

firstName = "Soumyadeep"
lastName = "Debnath"
print("My first name is {} and last name is {}".format(firstName,lastName)) #sequence matter
print("My first name is {value1} and last name is {value2}".format(value2=lastName,value1=firstName)) #sequence not matter

print(r'C://python37') #print as it is written

Hello
My name is  Soumyadeep
My name is Soumyadeep
My first name is Soumyadeep and last name is Debnath
My first name is Soumyadeep and last name is Debnath
C://python37

#### 3. Escape Sequence

* \n - newline	
* \\ - Backslash	
print("\\")
Output:
\
3.	\'	Single Quotes	
print('\'')
Output:
'
4.	\\''	Double Quotes	
print("\"")
Output:
"
5.	\a	ASCII Bell	
print("\a")
6.	\b	ASCII Backspace(BS)	
print("Hello \b World")
Output:
Hello World
7.	\f	ASCII Formfeed	
print("Hello \f World!")
Hello  World!
8.	\n	ASCII Linefeed	
print("Hello \n World!")
Output:
Hello
 World!
9.	\r	ASCII Carriege Return(CR)	
print("Hello \r World!")
Output:
World!
10.	\t	ASCII Horizontal Tab	
print("Hello \t World!")
Output:
Hello 	 World!
11.	\v	ASCII Vertical Tab	
print("Hello \v World!")
Output:
Hello 
 World!
12.	\ooo	Character with octal value	
print("\110\145\154\154\157")
Output:
Hello
13	\xHH	Character with hex value.	
print("\x48\x65\x6c\x6c\x6f")
Output:
Hello

#### 4. Naming Convension

- Camel Case: In the camel case, each word or abbreviation in the middle of begins with a capital letter. There is no intervention of whitespace. For example - nameOfStudent, valueOfVaraible, etc.
- Pascal Case: It is the same as the Camel Case, but here the first word is also capital. For example - NameOfStudent, etc.
- Snake Case: In the snake case, Words are separated by the underscore. For example - name_of_student, etc.

#### 5. Variable and Assignments

In [ ]:
#Reassigning values to a variable
var1 = 50
var2 = var1
print('value: ', var1,', id: ',id(var1))
print('value: ', var2,', id: ',id(var2))
var1 = 'python'  
print('value: ', var1,', id: ',id(var1))

value:  50 , id:  140727138860352
value:  50 , id:  140727138860352
value:  python , id:  2065268063024

In [ ]:
#Assigning single value to multiple variables
x=y=z=50
print(x,y,z)

50 50 50

In [ ]:
#Assigning multiple values to multiple variables
a,b,c=5,10,15
print(a,b,c)

5 10 15

#### 6. Datatypes

- Boolean - True, False
- Numbers: Integer, Float, Complex
- Sequence: (Concatenation by +, Repetation by *, Slicing by [:])
 - String
 - List - Contains data of different types, ordered, mutable and also duplicate elements.
 - Tuple - Contains data of different types but immutable/Read-only (can't modify the size of tuple and value of the any element).
- Set: Contains data of different types, unordered, mutable, with no duplicate elements.
- Dictionary - Key can hold any primitive data type, whereas value is an arbitrary python object.

#### 7. Built in method - type()

type(True) - bool <br>

type(1) - int <br>
type(1.4) - float <br>
type(1+3j) - complex <br>

type('p') - str <br>
type([1,'hi',2.3]) - list <br>
type(("hi", "Python", 2)) - tuple <br>

type({1:'Sam', 2:'Alex'}) - dict

#### 8. Built in method - isinstance()

function is used to check an object belongs to a particular class - return Ture/False

isinstance({1:'Sam', 2:'Alex'},dict) - True

#### 8. Arithmetic Operators

In [ ]:
print("Addition: 5+2 =",5+2)
print("Substraction: 5-2 =",5-2)
print("Multiplication: 5*2 =",5*2)
print("Division: 5/2 =",5/2)
print("Floor Division: 5//2 =",5//2)
print("Reminder: 5%2 =",5%2)
print("Exponent: 5**2 =",5**2)
print("Concat: 5*'i'+'j' =",5*'i'+'j')

Addition: 5+2 = 7
Substraction: 5-2 = 3
Multiplication: 5*2 = 10
Division: 5/2 = 2.5
Floor Division: 5//2 = 2
Reminder: 5%2 = 1
Exponent: 5**2 = 25
Concat: 5*'i'+'j' = iiiiij

#### 9. String Operations

In [ ]:
print("String Concat: 5*'i'+'j' =",5*'i'+'j')

#Single line String
str = "single line string"  
print(str)

str = """multiline 
string"""  
print(str)

String Concat: 5*'i'+'j' = iiiiij
single line string
multiline
string

In [ ]:
str1 = 'hey all, Sam is here now'
print("Actual String: "+str1)
print("Fourth Character: "+str1[4]) #Retrieving character

#Substring
print("From 1st to 4th: ",str1[1:5])
print("From Start to 4th: ",str1[:5])
print("From 10th to Last: ",str1[10:])
print("From Last 5th to last 2nd: ",str1[-5:-1])

#Reversing
print("Reverse: ",str1[::-1])

Actual String: hey all, Sam is here now
Fourth Character: a
From 1st to 4th:  ey a
From Start to 4th:  hey a
From 10th to Last:  am is here now
From Last 5th to last 2nd:  e no
Reverse:  won ereh si maS ,lla yeh

In [ ]:
#Search
print("Present in: ",'Sam' in str1)
print("Not Present in: ",'Sam' not in str1)
print("First index of substring by index(): ",str1.index('Sam',0,18)) #Error if not present, index of first occurrence, Start and End index are optional parameters
status = str1.find('Sam',0,18) #-1 if not present, Index of first occurrence, Start and End index are optional parameters
if(status!=-1): 
    print("First index of substring by find(): ",status)
else:
    print("Item not present")

Present in:  True
Not Present in:  False
First index of substring by index():  9
First index of substring by find():  9

#### 10. Boolean Operations

In [18]:
bl = bool() #Declair and Initialize with False value
print("Initialize: ",bl)

my_str = 'Sam is 1st Chief Data Scientist'
print(my_str.startswith('Sam')) #test if string startswith 'Sam'
print(my_str.endswith('Scientist')) #test if string endswith 'Scientist'
print("Upper Only Case: ",my_str.isupper())
print("Lower Only Case: ",my_str.islower())
print("Contain Only Space: ",my_str.isspace())

my_str='Soumyadeep'
#For single word    #whitespace is not allowed for these methods
print("Alphanumeric: ",my_str.isalnum()) 
print("Alphabetic: ",my_str.isalpha())
print("Numeric: ",my_str.isdigit())
print("Numeric ",my_str.isnumeric())
print("Have Tile word: ",my_str.istitle()) #first character is capital

Initialize:  False
True
True
Upper Only Case:  False
Lower Only Case:  False
Contain Only Space:  False
Alphanumeric:  True
Alphabetic:  True
Numeric:  False
Numeric  False
Have Tile word:  True

#### 11. Conditional Statement (if else)

In [20]:
salary = int(input("enter your salary\n"))
if( salary > 1000):
    print("you salary is good")
    if salary > 5000 and salary <= 10000:
        print("i will go with a card nano")
        if True:
            print("always executable line inside")
    if salary == 10000:
        print("after somemore i will go with maruti")
    elif salary >10000:
        print("i will go with maruti")
    elif salary > 50000:
        print("i wil go with toyota")
    else :
        print("i will rent a car ")
elif salary > 500:
    print(" i will go for bike ")
elif salary> 100:
    print("i will not buy anyting")
else :
    print("i will go for savinig ")

enter your salary
10000
you salary is good
i will go with a card nano
always executable line inside
after somemore i will go with maruti

#### 12. Loop Statement

##### 1. while loop

##### 2. for loop