<a href="https://colab.research.google.com/github/SoumyadeepDebnath/DataEngineering_with_Python_by_SAM/blob/main/1.%20Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 1. Comment

- Single Line Comment - #
- Multiline Comment - """ """

#### 2. Built in method - print()

In [ ]:
print('Hello')

firstName = "Soumyadeep"
print("My name is ",firstName)
print("My name is %s"%(firstName))

firstName = "Soumyadeep"
lastName = "Debnath"
print("My first name is {} and last name is {}".format(firstName,lastName)) #sequence matter
print("My first name is {value1} and last name is {value2}".format(value2=lastName,value1=firstName)) #sequence not matter

print(r'C://python37') #print as it is written

Hello
My name is  Soumyadeep
My name is Soumyadeep
My first name is Soumyadeep and last name is Debnath
My first name is Soumyadeep and last name is Debnath
C://python37

#### 3. Escape Sequences

```
1. \n - newline
2. \\ - Backslash
3. \' -	Single Quote	
4. \\'' - Double Quote
5. \a - ASCII Bell
6. \b - ASCII Backspace(BS)
7. \f - ASCII Formfeed
8. \n - ASCII Linefeed
9. \r - ASCII Carriege Return(CR)
10. \t - ASCII Horizontal Tab
11. \v - ASCII Vertical Tab
12. \ooo - Character with octal value
13. \xHH - Character with hex value.
```

#### 4. Naming Convension

```
- Camel Case: In the camel case, each word or abbreviation in the middle of begins with a capital letter. 
            There is no intervention of whitespace. For example - nameOfStudent, valueOfVaraible, etc.
- Pascal Case: It is the same as the Camel Case, but here the first word is also capital. 
            For example - NameOfStudent, etc.
- Snake Case: In the snake case, Words are separated by the underscore. 
            For example - name_of_student, etc.
```

#### 5. Variable and Assignments

In [ ]:
#Reassigning values to a variable
var1 = 50
var2 = var1
print('value: ', var1,', id: ',id(var1))
print('value: ', var2,', id: ',id(var2))
var1 = 'python'  
print('value: ', var1,', id: ',id(var1))

value:  50 , id:  140727138860352
value:  50 , id:  140727138860352
value:  python , id:  2065268063024

In [ ]:
#Assigning single value to multiple variables
x=y=z=50
print(x,y,z)

50 50 50

In [ ]:
#Assigning multiple values to multiple variables
a,b,c=5,10,15
print(a,b,c)

5 10 15

#### 6. Datatypes

```
- Boolean - True, False
- Numbers: Integer, Float, Complex
- Sequence: (Concatenation by +, Repetation by *, Slicing by [:])
    - String - Immutable (can't modify the size of string and value of the any element)
    - List - Contains data of different types, ordered, mutable and also duplicate elements.
    - Tuple - Contains data of different types but immutable (can't modify the size of tuple and value of the any element).
- Set: Contains data of different types, unordered, mutable, with no duplicate elements.
- Dictionary - Key can hold any primitive data type, whereas value is an arbitrary python object.
```

#### 7. Built in method - type()

In [146]:
print("Boolean: ",type(True))
print("Integer: ",type(1))
print("Float: ",type(1.4))
print("Complex: ",type(1+3j))
print("Character/String: ",type('p'))
print("List: ",type([1,'hi',2.3]))
print("Tuple: ",type(("hi", "Python", 2)))
print("Dictionary: ",type({1:'Sam', 2:'Alex'}))

Boolean:  <class 'bool'>
Integer:  <class 'int'>
Float:  <class 'float'>
Complex:  <class 'complex'>
Character/String:  <class 'str'>
List:  <class 'list'>
Tuple:  <class 'tuple'>
Dictionary:  <class 'dict'>

#### 8. Built in method - isinstance()

function is used to check an object belongs to a particular class - return Ture/False

In [147]:
isinstance({1:'Sam', 2:'Alex'},dict)

True

#### 8. Arithmetic Operators

In [ ]:
print("Addition: 5+2 =",5+2)
print("Substraction: 5-2 =",5-2)
print("Multiplication: 5*2 =",5*2)
print("Division: 5/2 =",5/2)
print("Floor Division: 5//2 =",5//2)
print("Reminder: 5%2 =",5%2)
print("Exponent: 5**2 =",5**2)
print("Concat: 5*'i'+'j' =",5*'i'+'j')

Addition: 5+2 = 7
Substraction: 5-2 = 3
Multiplication: 5*2 = 10
Division: 5/2 = 2.5
Floor Division: 5//2 = 2
Reminder: 5%2 = 1
Exponent: 5**2 = 25
Concat: 5*'i'+'j' = iiiiij

#### 9. String Operations

In [166]:
print("String Concat: 5*'i'+'j' =",5*'i'+'j')

#Single line String - if double quoted (" ") then we can put single quotation (' ') inside the string and vice versa
str = "single line string"  
print("Single String: ",str)
print("Length: ",len(str)) 

#Multi line String
str = """multiline 
string"""  
print("Multiline String: ",str)
print("Length: ",len(str))

String Concat: 5*'i'+'j' = iiiiij
Single String:  single line string
Length:  18
Multiline String:  multiline
string
Length:  17

String is Immutable


```
str = "Soumyadeep"
str[1] = 'a'
```
```
-> error occurs
```

In [197]:
str = "Soumyadeep"
print(str.replace("Soumya","Deb")) #inspite of immutable

Debdeep

In [193]:
#String operatios

str1 = 'hey all Sam is here now'
print("Actual String: "+str1)
print()
#Occurance
print("Occurance of a: ",str1.count('a')) #count of an item
#Retrieving character
print("Fourth character from left: ",str1[0]) #positive index
print("Fourth character from right/Last charactert: ",str1[-1]) #negative index
print()
print("Concatination: ",str1+str1) #Concatination
print("Repetation: ",str1*3) #Repetation
print()
#Substring/Slicing
print("From 1st to 4th: ",str1[1:5]) #full - [0:n] - 0 to n-1 place
print("From Start to 4th: ",str1[:5])
print("From 10th to Last: ",str1[10:])
print("From last 5th to last 2nd: ",str1[-5:-1])
print("Slicing with 2 step from start to end: ",str1[0:len(str1):2]) #last is step, default step size is 1
print("Reverse Slicing: ",str1[6:1:-2]) #Negative step
print("Reverse: ",str1[::-1]) #Reverse
print()
print("Wrong Slicing (Always empty):")
print("lst[4:1] - ",str1[4:1])
print("lst[6:1:2] - ",str1[6:1:2])
print("lst[1:6:-2] - ",str1[1:6:-2])
print()
#Reversing
print("Reverse: ",str1[::-1]) #if step is negative, reverse order
print("Reverse: ",str1[len(str1):0:-1]) #excluding 0th

Actual String: hey all Sam is here now

Occurance of a:  2
Fourth character from left:  h
Fourth character from right/Last charactert:  w

Concatination:  hey all Sam is here nowhey all Sam is here now
Repetation:  hey all Sam is here nowhey all Sam is here nowhey all Sam is here now

From 1st to 4th:  ey a
From Start to 4th:  hey a
From 10th to Last:  m is here now
From last 5th to last 2nd:  e no
Slicing with 2 step from start to end:  hyalSmi eenw
Reverse Slicing:  lay
Reverse:  won ereh si maS lla yeh

Wrong Slicing (Always empty):
lst[4:1] -
lst[6:1:2] -
lst[1:6:-2] -

Reverse:  won ereh si maS lla yeh
Reverse:  won ereh si maS lla ye

In [188]:
#Search
print("Present in: ",'Sam' in str1)
print("Not Present in: ",'Sam' not in str1)
print("First index of substring by index(): ",str1.index('Sam',0,18)) #Error if not present, index of first occurrence, Start and End index are optional parameters
status=str1.find('Sam',0,18) #-1 if not present, Index of first occurrence, Start and End index are optional parameters
if(status!=-1): 
    print("First index of substring by find(): ",status)
else:
    print("Item not present")

Present in:  True
Not Present in:  False
First index of substring by index():  8
First index of substring by find():  8

In [195]:
str1="Hey all, Sam is here now"
print("Actual String: "+str1)
print()
print("Word Split: ",str1.split()) #default split by space
print("Split by character (,): ",str1.split(','))
print()
print("Upper Case: ",str1.upper())
print("Lower Case: ",str1.lower())
print("Swapping Case: ",str1.swapcase())


print()
str2="  Soumyadeep Debnath  "
print("Actual String: "+str2)
print("Strip left & right: ",str2.strip()+".")
print("Strip left: ",str2.lstrip()+".")
print("Strip right: ",str2.rstrip()+".")

Actual String: Hey all, Sam is here now
Word Split:  ['Hey', 'all,', 'Sam', 'is', 'here', 'now']
Split by character (,):  ['Hey all', ' Sam is here now']
Upper Case:  HEY ALL, SAM IS HERE NOW
Lower Case:  hey all, sam is here now
Swapping Case:  hEY ALL, sAM IS HERE NOW

Actual String:   Soumyadeep Debnath
Strip left & right:  Soumyadeep Debnath.
Strip left:  Soumyadeep Debnath  .
Strip right:    Soumyadeep Debnath.

#### 10. Boolean Operations

In [200]:
bl = bool() #Declair and Initialize with False value
print("Initialize: ",bl)
print()
my_str = 'Sam is 1st Chief Data Scientist'
print("String: ",my_str)
print("Starts with Sam: ",my_str.startswith('Sam')) #test if string startswith 'Sam'
print("Ends with Scientist: ",my_str.endswith('Scientist')) #test if string endswith 'Scientist'
print("Upper Only Case: ",my_str.isupper())
print("Lower Only Case: ",my_str.islower())
print("Contain Only Space: ",my_str.isspace())
print()
my_str='Soumyadeep'
print("String: ",my_str)
#For single word    #whitespace is not allowed for these methods
print("Alphanumeric: ",my_str.isalnum()) 
print("Alphabetic: ",my_str.isalpha())
print("Numeric: ",my_str.isdigit())
print("Numeric ",my_str.isnumeric())
print("Have Tile word: ",my_str.istitle()) #first character is capital

Initialize:  False

String:  Sam is 1st Chief Data Scientist
Starts with Sam:  True
Ends with Scientist:  True
Upper Only Case:  False
Lower Only Case:  False
Contain Only Space:  False

String:  Soumyadeep
Alphanumeric:  True
Alphabetic:  True
Numeric:  False
Numeric  False
Have Tile word:  True

#### 11. Conditional Statement (if else)

In [20]:
salary = int(input("enter your salary\n"))
if( salary > 1000):
    print("you salary is good")
    if salary > 5000 and salary <= 10000:
        print("i will go with a card nano")
        if True:
            print("always executable line inside")
    if salary == 10000:
        print("after somemore i will go with maruti")
    elif salary >10000:
        print("i will go with maruti")
    elif salary > 50000:
        print("i wil go with toyota")
    else :
        print("i will rent a car ")
elif salary > 500:
    print(" i will go for bike ")
elif salary> 100:
    print("i will not buy anyting")
else :
    print("i will go for savinig ")

enter your salary
10000
you salary is good
i will go with a card nano
always executable line inside
after somemore i will go with maruti

#### 12. Loop & Control Statements

##### 1. while loop

In [23]:
count = 0
while (count < 10):   
    count = count + 1
    if (count == 2):
        pass
    if (count == 4):
        print("Line Before Continue")
        continue
    if (count == 6):
        print("Line Before Break")
        break
    print("Line no - ",count)

Line no -  1
Line no -  2
Line no -  3
Line Before Continue
Line no -  5
Line Before Break

In [ ]:
#while don't support these cases - causes infinite loop 

#range
i=0 #while requires initialization before starting loop
while i in range(0,10,3):
    print("Line no - ",i)

#iterate string/list/tuple
str = "Sam"
i='' #while requires initialization before starting loop
while i in str:
    print(i)

In [88]:
#iterate string/list/tuple

str = "Sam"
i=0
while str[i] in str:
    print(str[i])
    i=i+1
    if(i==len(str)):
        break

S
a
m

##### 2. for loop

In [75]:
#using for & range, act like while
for i in range(0,10,3):
    print("Line no - ",i)

Line no -  0
Line no -  3
Line no -  6
Line no -  9

In [81]:
#iterate string/list/tuple
str = "Sam"
print("Directly retrieve Character: ")
for i in str:
    print(i)
print("Index wise retrieve Character: ")
for i in range(len(str)):
    print(str[i])

Directly retrieve Character:
S
a
m
Index wise retrieve Character:
S
a
m

##### 3. loop and else

In [97]:
#Only python support loop and else

count = 5
i=1
while (i<count):
    print("Inside while Line no - ",i)
    i=i+1
else: #executed because no break in while
    print("Inside else, Line no - ",i)

print()

for i in range(1, 5):
	print("Inside for, Line no - ",i)
else: #executed because no break in for
	print("Inside else, Line no - ",i)

Inside while Line no -  1
Inside while Line no -  2
Inside while Line no -  3
Inside while Line no -  4
Inside else, Line no -  5

Inside for, Line no -  1
Inside for, Line no -  2
Inside for, Line no -  3
Inside for, Line no -  4
Inside else, Line no -  4

In [108]:
#else is skipped by break - it's not skipped by pass or continue

count = 5
i=1
while (i<count):
    print("Inside while Line no - ",i)
    i=i+1
    if(i==3):
        break
else: #not executed due to break in while
    print("Inside else, Line no - ",i)

print()

for i in range(1, 5):
    print("Inside for, Line no - ",i)
    if(i==3):
        break
else: #not executed due to break in for
	print("Inside else, Line no - ",i)

Inside while Line no -  1
Inside while Line no -  2

Inside for, Line no -  1
Inside for, Line no -  2
Inside for, Line no -  3