<a href="https://colab.research.google.com/github/SoumyadeepDebnath/DataEngineering_with_Python_by_SAM/blob/main/2.%20Python_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 1. List Operations

Contains data of different types, ordered, mutable and also duplicate elements

In [20]:
lst=list() #Declairation, Initialized empty
print(lst)
lst=[] #Declairation, Initialized empty
print(lst)

lst = list(range(0,10,2))#Declairation with Initialization
print(lst)

print("Type: ",type(lst)) #Type

[]
[]
[0, 2, 4, 6, 8]
Type:  <class 'list'>

In [21]:
lst=['Sam',100,200.9,True,['python','r']]
print(lst)
print("Size/Length: ",len(lst)) #Size

#Retrieving element
print("First character from left: ",lst[0]) #positive index
print("First character from right/Last character: ",lst[-1]) #negative index

['Sam', 100, 200.9, True, ['python', 'r']]
Size/Length:  5
First character from left:  Sam
First character from right/Last character:  ['python', 'r']

In [22]:
#Adding Item
lst.append("appended item") #Add item in the end
lst.insert(2,"interted item at 2nd index") #Add item at particular index
lst.extend(lst) #Add another list in the end
print("After Insertion:\n",lst)

After Insertion:
 ['Sam', 100, 'interted item at 2nd index', 200.9, True, ['python', 'r'], 'appended item', 'Sam', 100, 'interted item at 2nd index', 200.9, True, ['python', 'r'], 'appended item']

In [23]:
#Removing Item
lst.remove('Sam') #remove first for more than one matching value & error for nonexistent value
print("After remove:\n",lst)

lst.pop(2) #del lst[2] #remove item from particular positive index
lst.pop(-1) #del lst[-1] #remove item from particular negative index
print("After pop:\n",lst)

lst.clear() #Remove all items: 
print("After clear:\n",lst)

After remove:
 [100, 'interted item at 2nd index', 200.9, True, ['python', 'r'], 'appended item', 'Sam', 100, 'interted item at 2nd index', 200.9, True, ['python', 'r'], 'appended item']
After pop:
 [100, 'interted item at 2nd index', True, ['python', 'r'], 'appended item', 'Sam', 100, 'interted item at 2nd index', 200.9, True, ['python', 'r']]
After clear:
 []

In [33]:
#Remove Duplicates
lst = ["Sam","Sam"]
print("Before: ",lst)
lst = list(set(lst)) #only if there is no unhashable object inside (list)
#["Sam","Sam",["Sam","Sam"]] - error but ["Sam","Sam",("Sam","Sam")] - no error
print("After: ",lst)

Before:  ['Sam', 'Sam']
After:  ['Sam']

In [34]:
#List Operations

lst=[0,1,2,3,4,5,5]
print("Original List: ",lst)
print()
print("Sum of all items: ",sum(lst)) #If all items are numbers
print("Occurance of 1: ",lst.count(5)) #Occurance of an item
print("Max:",max(lst),"and Min:",min(lst)) #Max and Min item
print()
print("Concatination: ",lst+lst) #Concatination
print("Repetation: ",lst*3) #Repetation
print("Slicing from 1 to 4 index (positive index):: ",lst[1:5]) #Slicing with positive index
print("Slicing from 1 to 4 index (negative index): ",lst[-6:-2]) #Slicing with negative index
print("Slicing with 2 step from start to end: ",lst[0:len(lst):2]) #Slicing with step
print("Reverse Slicing: ",lst[6:1:-2]) #Negative step
print("Reverse: ",lst[::-1]) #Reverse
print()
print("Wrong Slicing (Always empty):")
print("lst[4:1] - ",lst[4:1])
print("lst[6:1:2] - ",lst[6:1:2])
print("lst[1:6:-2] - ",lst[1:6:-2])

Original List:  [0, 1, 2, 3, 4, 5, 5]

Sum of all items:  20
Occurance of 1:  2
Max: 5 and Min: 0

Concatination:  [0, 1, 2, 3, 4, 5, 5, 0, 1, 2, 3, 4, 5, 5]
Repetation:  [0, 1, 2, 3, 4, 5, 5, 0, 1, 2, 3, 4, 5, 5, 0, 1, 2, 3, 4, 5, 5]
Slicing from 1 to 4 index (positive index)::  [1, 2, 3, 4]
Slicing from 1 to 4 index (negative index):  [1, 2, 3, 4]
Slicing with 2 step from start to end:  [0, 2, 4, 5]
Reverse Slicing:  [5, 4, 2]
Reverse:  [5, 5, 4, 3, 2, 1, 0]

Wrong Slicing (Always empty):
lst[4:1] -  []
lst[6:1:2] -  []
lst[1:6:-2] -  []

In [ ]:
#Search - return index of first occurrence of the item (Start and End index are optional parameter)

print("Index of 5: ",lst.index(5,1,6)) #Error if not present

#find() method is only for string, not other sequences

Index of 5:  5

In [35]:
#sort() - changes the list directly and doesn't return any value
print("By sort() method -")
vowels = ['u','a','i','e','o']
print("Actual List: ",vowels)
vowels.sort() #Default Ascending order
print("Ascending Order: ",vowels)
vowels.sort(reverse=True) #Descending order
print("Descending Order: ",vowels)

#sorted() - doesn't change the list directly and returns the sorted value
print("By sorted() method -")
vowels = ['u','a','i','e','o']
print("Actual List: ",vowels)
vowels1 = sorted(vowels) #Default Ascending order
print("Ascending Order: ",vowels1)
vowels2 = sorted(vowels,reverse=True) #Descending order
print("Descending Order: ",vowels2)

By sort() method -
Actual List:  ['u', 'a', 'i', 'e', 'o']
Ascending Order:  ['a', 'e', 'i', 'o', 'u']
Descending Order:  ['u', 'o', 'i', 'e', 'a']
By sorted() method -
Actual List:  ['u', 'a', 'i', 'e', 'o']
Ascending Order:  ['a', 'e', 'i', 'o', 'u']
Descending Order:  ['u', 'o', 'i', 'e', 'a']

#### 2. Tuple Operations

Contains data of different types but immutable (can't modify the size of tuple and value of the any element)

In [31]:
#Remove Duplicates
tup = ("Sam","Sam")
print("Before: ",tup)
tup = tuple(set(tup)) #only if there is no unhashable object inside (list)
#("Sam","Sam",["Sam","Sam"]) - error but ("Sam","Sam",("Sam","Sam")) - no error
print("After: ",tup)

Before:  ('Sam', 'Sam')
After:  ('Sam',)

#### 3. Set Operations

Contains data of different types, unordered, mutable, with no duplicate elements

#### 4. Dictionary Operations

Key can hold any primitive data type, whereas value is an arbitrary python object

#### 5. Typecaste Datatypes

In [ ]:
str="Soumyadeep"
lst=list(str)
print(lst)

['S', 'o', 'u', 'm', 'y', 'a', 'd', 'e', 'e', 'p']

#### 6. Python Array

Python does not have built-in Array. <br>
Here all elements should be same datatype.

In [ ]:
import array as arr

#integer type array
a = arr.array('i', [1, 2, 3])
print("Original array: ", end =" ")
for i in range(0, len(a)):
	print(a[i], end =" ")
print()

a.append(4) #add at the last
print("After append: ", end =" ")
for i in range(0, len(a)):
	print(a[i], end =" ")
print()

a.insert(2, 4) #add at 2nd index
print("After insert: ", end =" ")
for i in range(0, len(a)):
	print(a[i], end =" ")
print()


#float type array
b = arr.array('d', [2.5, 3.2, 3.3])
print("Float array: ", end =" ")
for i in range(0, len(b)):
	print (b[i], end =" ")

Original array:  1 2 3
After append:  1 2 3 4
After insert:  1 2 4 3 4
Float array:  2.5 3.2 3.3