<a href="https://colab.research.google.com/github/SoumyadeepDebnath/Data-Engineering-using-Python/blob/main/2.%20Python_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 1. List Operations

Contains data of different types, ordered, mutable and also duplicate elements

##### 1. Initialization

In [2]:
lst=list() #Declairation, Initialized empty
print(lst)
lst=[] #Declairation, Initialized empty
print(lst)

lst = list(range(0,10,2))#Declairation with Initialization
print(lst)

print(list("Sam"))

print("Type: ",type(lst)) #Type

[]
[]
[0, 2, 4, 6, 8]
['S', 'a', 'm']
Type:  <class 'list'>

In [3]:
#Mutable
print("Before:",lst)
lst[0] = 10 
print("After:",lst)

Before: [0, 2, 4, 6, 8]
After: [10, 2, 4, 6, 8]

In [4]:
lst=['Sam',100,200.9,True,['python','r']]
print(lst)
print("Size/Length: ",len(lst)) #size

#Retrieving element
print("First character from left: ",lst[0]) #positive index
print("First character from right/Last character: ",lst[-1]) #negative index

['Sam', 100, 200.9, True, ['python', 'r']]
Size/Length:  5
First character from left:  Sam
First character from right/Last character:  ['python', 'r']

##### 2. Remove

In [ ]:
lst.remove('Sam') #remove first for more than one matching value & error for nonexistent value
print("After remove:\n",lst)

lst.pop() #default remove item from last end
lst.pop(2) #del lst[2] #remove item from particular positive index
lst.pop(-1) #del lst[-1] #remove item from particular negative index
#error for wrong index
print("After pop:\n",lst)

lst.clear() #Remove all items: 
print("After clear:\n",lst)

After remove:
 [100, 200.9, True, ['python', 'r']]
After pop:
 [100]
After clear:
 []

In [ ]:
#Remove Duplicates

lst = ["Sam","Sam"]
print("Before: ",lst)
lst = list(set(lst)) #only if there is no unhashable object inside (list)
#["Sam","Sam",["Sam","Sam"]] - error but ["Sam","Sam",("Sam","Sam")] - no error
print("After: ",lst)

Before:  ['Sam', 'Sam']
After:  ['Sam']

##### 3. Add

In [ ]:
#add any object (as it is) at the end
lst = [1,2,3]
lst.append(0)
lst.append("appended item")
lst.append([4,5])
lst.append((6,7))
print("After Insertion:\n",lst)

After Insertion:
 [1, 2, 3, 0, 'appended item', [4, 5], (6, 7)]

In [ ]:
#add any object (as it is) at particular index
lst = [1,2,3]
lst.insert(2,0)
lst.insert(2,"interted item at 2nd index")
lst.insert(2,[4,5])
lst.insert(2,(6,7))
print("After Insertion:\n",lst)

After Insertion:
 [1, 2, (6, 7), [4, 5], 'interted item at 2nd index', 0, 3]

In [ ]:
#Add only iterable object (list, tuple, string - list of characters) in the end
#Return merged list
lst = [1,2,3]
#lst.extend(0) - error coz integer, float, complex, boolean are not iterable objects
lst.extend("Sam")
lst.extend(["Sam"])
lst.extend(("Sam"))
lst.extend(("Deb","Deep"))
print("After Insertion:\n",lst)

After Insertion:
 [1, 2, 3, 'S', 'a', 'm', 'Sam', 'S', 'a', 'm', 'Deb', 'Deep']

##### 4. List Operations

In [24]:
lst=[0,1,2,3,4,5,5]
print("Original List: ",lst)

Original List:  [0, 1, 2, 3, 4, 5, 5]

In [25]:
print("Sum of all items: ",sum(lst)) #If all items are numbers
print("Occurance of 1: ",lst.count(5)) #Occurance of an item
print("Max:",max(lst),"and Min:",min(lst)) #Max and Min item

Sum of all items:  20
Occurance of 1:  2
Max: 5 and Min: 0

In [26]:
print("Concatination: ",lst+lst) #Concatination
print("Repetation: ",lst*3) #Repetation
print("Slicing from 1 to 4 index (positive index):: ",lst[1:5]) #Slicing with positive index
print("Slicing from 1 to 4 index (negative index): ",lst[-6:-2]) #Slicing with negative index
print("Slicing with 2 step from start to end: ",lst[0:len(lst):2]) #Slicing with step
print("Reverse Slicing: ",lst[6:1:-2]) #Negative step
print("Reverse: ",lst[::-1]) #Reverse

Concatination:  [0, 1, 2, 3, 4, 5, 5, 0, 1, 2, 3, 4, 5, 5]
Repetation:  [0, 1, 2, 3, 4, 5, 5, 0, 1, 2, 3, 4, 5, 5, 0, 1, 2, 3, 4, 5, 5]
Slicing from 1 to 4 index (positive index)::  [1, 2, 3, 4]
Slicing from 1 to 4 index (negative index):  [1, 2, 3, 4]
Slicing with 2 step from start to end:  [0, 2, 4, 5]
Reverse Slicing:  [5, 4, 2]
Reverse:  [5, 5, 4, 3, 2, 1, 0]

In [27]:
print("Wrong Slicing (Always empty):")
print("lst[4:1] - ",lst[4:1])
print("lst[6:1:2] - ",lst[6:1:2])
print("lst[1:6:-2] - ",lst[1:6:-2])

Wrong Slicing (Always empty):
lst[4:1] -  []
lst[6:1:2] -  []
lst[1:6:-2] -  []

##### 5. Search

In [44]:
print("Original List:",lst)

Original List: [0, 1, 2, 3, 4, 5, 5]

In [29]:
#return boolean - True/False
print("Present in: ",5 in lst)
print("Not Present in: ",5 not in lst)

Present in:  True
Not Present in:  False

In [30]:
#Error if not present, return index of first occurrence, Start and End index are optional parameters
print("Index of 5: ",lst.index(5,1,6)) #Error if not present

Index of 5:  5

In [31]:
#find() method is only for string, not other sequences

##### 6. Sort

In [ ]:
#sort() - changes the list directly and doesn't return any value
print("By sort() method -")
vowels = ['u','a','i','e','o']
print("Actual List: ",vowels)
vowels.sort() #Default Ascending order
print("Ascending Order: ",vowels)
vowels.sort(reverse=True) #Descending order
print("Descending Order: ",vowels)

By sort() method -
Actual List:  ['u', 'a', 'i', 'e', 'o']
Ascending Order:  ['a', 'e', 'i', 'o', 'u']
Descending Order:  ['u', 'o', 'i', 'e', 'a']

In [ ]:
#sorted() - doesn't change the list directly and returns the sorted value
print("By sorted() method -")
vowels = ['u','a','i','e','o']
print("Actual List: ",vowels)
vowels1 = sorted(vowels) #Default Ascending order
print("Ascending Order: ",vowels1)
vowels2 = sorted(vowels,reverse=True) #Descending order
print("Descending Order: ",vowels2)

By sorted() method -
Actual List:  ['u', 'a', 'i', 'e', 'o']
Ascending Order:  ['a', 'e', 'i', 'o', 'u']
Descending Order:  ['u', 'o', 'i', 'e', 'a']

##### Comprehension

***1. only loop:***
```
Syntax: newlist = [expression for item in iterable]
```

In [ ]:
lst = [1,2,3,4,5]

#Instead of this
lst1 = []
for i in "Soumya":
    lst1.append(list(i))
print(lst1)

#Do this
lst1 = [list(i) for i in "Soumya"]
print(lst1)

[['S'], ['o'], ['u'], ['m'], ['y'], ['a']]
[['S'], ['o'], ['u'], ['m'], ['y'], ['a']]

In [ ]:
#Instead of this
lst = []
for i in range(3):
    lst.append([])
    for j in range(3):
        lst[i].append(j)
print(lst)

#Do this
lst = [[j for j in range(3)] for i in range(3)]
print(lst)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]
[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

***2. loop with if:***
```
Syntax: newlist = [expression for item in iterable if condition == True]
```

In [ ]:
#Instead of this
lst = []
for i in range(10) :
    if (i%2 ==0):
        lst.append(i)
print(lst)

#Do this
lst = [i for i in range(10) if(i%2 == 0)]
print(lst)

[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]

In [ ]:
#Instead of this
lst = []
for i in range(10) :
    if i % 2 == 0 :
        if i % 3 == 0 :
            lst.append(i)
print(lst)

#Do this
lst = [i for i in range(10) if(i%2 == 0) if(i%3 == 0)]
print(lst)

[0, 6]
[0, 6]

***3. loop with if else:***
```
Syntax: newlist = [expression1 if condition == True else expression2 for item in iterable]
```

In [ ]:
#Instead of this
lst = []
for i in range(10):
    if (i%2 != 0):
        lst.append("odd")
    else :
        lst.append("even")
print(lst)

#Do this
lst = ["odd" if(i%2 != 0) else "even" for i in range(10)]
print(lst)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']
['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [ ]:
#Instead of this
lst = [0, 1, 2, 3, 4]
lst1 = []
for i in lst :
    if i == 1 :
        lst1.append("yes")
    elif i ==2 :
        lst1.append("no")
    else :
        lst1.append("test")
print(lst1)

#Do this
lst1 = ["yes" if(i == 1) else "no" if(i == 2) else "test" for i in lst]
print(lst1)

['test', 'yes', 'no', 'test', 'test']
['test', 'yes', 'no', 'test', 'test']

#### 2. Tuple Operations

Contains data of different types, ordered, but **immutable** (can't modify the size of tuple and value of the any element) and also duplicate elements

##### 1. Initialization

In [5]:
#Initialized empty
tup = tuple()
print(tup)
tup=() 
print(tup)

tup = tuple(range(0,10,2))#Declairation with Initialization
print(tup)

print(tuple("Sam"))

print("Type: ",type(tup)) #Type

()
()
(0, 2, 4, 6, 8)
('S', 'a', 'm')
Type:  <class 'tuple'>

In [7]:
#Immutable
print("Before:",tup)
#tup[0] = 10 - error
print("After:",tup)

Before: (0, 2, 4, 6, 8)
After: (0, 2, 4, 6, 8)

In [52]:
tup=('Sam',100,200.9,True,['python','r'])
print(tup)
print("Size/Length: ",len(tup)) #size

#Retrieving element
print("First character from left: ",tup[0]) #positive index
print("First character from right/Last character: ",tup[-1]) #negative index

('Sam', 100, 200.9, True, ['python', 'r'])
Size/Length:  5
First character from left:  Sam
First character from right/Last character:  ['python', 'r']

##### 2. Remove - (not possible)

```
remove(), pop(), del, clear() - not possible due to immutability
```

In [54]:
#Remove Duplicates
tup = ("Sam","Sam")
print("Before: ",tup)
tup = tuple(set(tup)) #only if there is no unhashable object inside (list)
#("Sam","Sam",["Sam","Sam"]) - error but ("Sam","Sam",("Sam","Sam")) - no error
print("After: ",tup)

Before:  ('Sam', 'Sam')
After:  ('Sam',)

##### 3. Add - (not possible)

```
append(), insert(), extend() - not possible due to immutability
```

##### 4. Tuple Operations

In [39]:
tup=(0,1,2,3,4,5,5)
print("Original Tuple: ",tup)

Original Tuple:  (0, 1, 2, 3, 4, 5, 5)

In [40]:
print("Sum of all items: ",sum(tup)) #If all items are numbers
print("Occurance of 1: ",tup.count(5)) #Occurance of an item
print("Max:",max(tup),"and Min:",min(tup)) #Max and Min item

Sum of all items:  20
Occurance of 1:  2
Max: 5 and Min: 0

In [41]:
print("Concatination: ",tup+tup) #Concatination
print("Repetation: ",tup*3) #Repetation
print("Slicing from 1 to 4 index (positive index):: ",tup[1:5]) #Slicing with positive index
print("Slicing from 1 to 4 index (negative index): ",tup[-6:-2]) #Slicing with negative index
print("Slicing with 2 step from start to end: ",tup[0:len(tup):2]) #Slicing with step
print("Reverse Slicing: ",tup[6:1:-2]) #Negative step
print("Reverse: ",tup[::-1]) #Reverse

Concatination:  (0, 1, 2, 3, 4, 5, 5, 0, 1, 2, 3, 4, 5, 5)
Repetation:  (0, 1, 2, 3, 4, 5, 5, 0, 1, 2, 3, 4, 5, 5, 0, 1, 2, 3, 4, 5, 5)
Slicing from 1 to 4 index (positive index)::  (1, 2, 3, 4)
Slicing from 1 to 4 index (negative index):  (1, 2, 3, 4)
Slicing with 2 step from start to end:  (0, 2, 4, 5)
Reverse Slicing:  (5, 4, 2)
Reverse:  (5, 5, 4, 3, 2, 1, 0)

In [42]:
print("Wrong Slicing (Always empty):")
print("tup[4:1] - ",tup[4:1])
print("tup[6:1:2] - ",tup[6:1:2])
print("tup[1:6:-2] - ",tup[1:6:-2])

Wrong Slicing (Always empty):
tup[4:1] -  ()
tup[6:1:2] -  ()
tup[1:6:-2] -  ()

##### 5. Search

In [43]:
print("Original Tuple: ",tup)

Original Tuple:  (0, 1, 2, 3, 4, 5, 5)

In [17]:
#return boolean - True/False
print("Present in: ",5 in tup)
print("Not Present in: ",5 not in tup)

Present in:  True
Not Present in:  False

In [18]:
#Error if not present, return index of first occurrence, Start and End index are optional parameters
print("Index of 5: ",tup.index(5,1,6)) #Error if not present

Index of 5:  5

In [20]:
#find() method is only for string, not other sequences

##### 6. Sort

In [47]:
#sort() - method is only for list, not for tuple

In [48]:
#sorted() - doesn't change the tuple directly and returns the sorted value
print("By sorted() method -")
vowels = ('u','a','i','e','o')
print("Actual Tuple: ",vowels)
vowels1 = sorted(vowels) #Default Ascending order
print("Ascending Order: ",vowels1)
vowels2 = sorted(vowels,reverse=True) #Descending order
print("Descending Order: ",vowels2)

By sorted() method -
Actual Tuple:  ('u', 'a', 'i', 'e', 'o')
Ascending Order:  ['a', 'e', 'i', 'o', 'u']
Descending Order:  ['u', 'o', 'i', 'e', 'a']

#### 3. Set Operations

Contains data of different types, **unordered**, mutable, with **no duplicate** elements

#### 4. Dictionary Operations

Key can hold any primitive data type, whereas value is an arbitrary python object

#### 5. Typecaste Datatypes

In [ ]:
str="Soumyadeep"
lst=list(str)
print(lst)

['S', 'o', 'u', 'm', 'y', 'a', 'd', 'e', 'e', 'p']

#### 6. Python Array

Python does not have built-in Array. <br>
Here all elements should be same datatype.

In [ ]:
import array as arr

#integer type array
a = arr.array('i', [1, 2, 3])
print("Original array: ", end =" ")
for i in range(0, len(a)):
	print(a[i], end =" ")
print()

a.append(4) #add at the last
print("After append: ", end =" ")
for i in range(0, len(a)):
	print(a[i], end =" ")
print()

a.insert(2, 4) #add at 2nd index
print("After insert: ", end =" ")
for i in range(0, len(a)):
	print(a[i], end =" ")
print()


#float type array
b = arr.array('d', [2.5, 3.2, 3.3])
print("Float array: ", end =" ")
for i in range(0, len(b)):
	print (b[i], end =" ")

Original array:  1 2 3
After append:  1 2 3 4
After insert:  1 2 4 3 4
Float array:  2.5 3.2 3.3