<a href="https://colab.research.google.com/github/SoumyadeepDebnath/DataEngineering_with_Python_by_SAM/blob/main/3.%20Python_OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 1. Function

In [23]:
def test1(x,y):
    print(x+y) #no return

print(type(test1(23,45)))

68
<class 'NoneType'>

In [24]:
def test2(x,y): #empty function
    pass 

print(type(test2(23,45)))

<class 'NoneType'>

In [31]:
def test3(n): 
    return n * 2 #default input and output are same type

print(test3(67))
print(test3(26.3))
print(test3("Sam"))
print(test3([3,4,5,6]))
print(test3((3,4,5,6)))
#print(test3({3,4,5,6})) - error coz set can't store duplicates
#print(test3({1:'a',2:'b'})) - error coz dictionary can't store duplicate keys

134
52.6
SamSam
[3, 4, 5, 6, 3, 4, 5, 6]
(3, 4, 5, 6, 3, 4, 5, 6)

In [32]:
def test4(a,b,c):
    return a+b #first return executed
    return b+c #not executed

print(test4(4,5,6))
print(type(test4(4,5,6)))

9
<class 'int'>

In [22]:
def test3(a,b,c):
    yield a+b #first return executed
    yield b+c

print(test3(4,5,6))
print(test3(4,5,6))

<generator object test3 at 0x7fddae1aeed0>
<generator object test3 at 0x7fddae1aeed0>

In [33]:
#Return Multiple values - only in python
def test5(a,b):
    return a*10,b*40,a+b

print(test5(4,5)) #default return tuple
print(type(test5(4,5)))

a,b,c=test5(4,5) #store in different variables
print(a,b,c)

(40, 200, 9)
<class 'tuple'>
40 200 9

In [40]:
#Default initialization
def test6(n,m = 90 ): #consider if no value passed
    return n+m

print(test6(30))
print(test6(30,30))

120
60

In [42]:
def boolx(x = True , y = False): #boolean parameter - True=1,False=0
    return x + y

print(boolx())
print(boolx(False))
print(boolx(y=True)) #initialize specific parameter by skipping other
print(boolx(False,8))

1
0
2
8

In [50]:
def test13(*args):
    l = []
    for i in args:
        l = l + i
    return l 

test13([3,4,5,6] , [3,4,5,6,7] , [3,4,5,6])

[3, 4, 5, 6, 3, 4, 5, 6, 7, 3, 4, 5, 6]

In [56]:
#If number of arguments is unknown
def test7(*args, a=["Deb"]): #pass any number of parameters
    lst = []
    for i in args: #args stores data in a iterator
        print("Item: ",i)
        lst = lst+i
    return lst+list(a) #concat all elements in a list

print("Concat: ",test7(["Sam"],[34,4,4,5]))

Item:  ['Sam']
Item:  [34, 4, 4, 5]
Concat:  ['Sam', 34, 4, 4, 5, 'Deb']

In [52]:
i="sam"
list(i)

['s', 'a', 'm']

#### 2.Class & Object

#### 3. Abstraction

#### 4. Inheritance

map,
reduce,
filter


functions